{{- $name := promptStringOnce . "name" "Git user name" -}}
{{- $email := promptStringOnce . "email" "Git user email" -}}
{{- $signingkey := promptStringOnce . "signingkey" "SSH signing key (ssh-ed25519 ..., leave empty to skip)" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    signingkey = {{ $signingkey | quote }}

[edit]
    command = "cursor"

sourceDir = {{ joinPath .chezmoi.homeDir "apps/robsonscheffer/dotfiles/home" | quote }}
