[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[user]
	email = {{ .email }}
	name = {{ .name }}
{{- if .signingkey }}
	signingkey = {{ .signingkey }}
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}
[core]
	excludesfile = ~/.config/git/ignore
